.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #439a51;
}

h2 {
  font-size: 50px;
  color: #d6e347;
  margin-bottom: 5px;
}

h2 {
  font-size:75px;
  margin-top:1px;
  margin-bottom: 1px;
  color:aliceblue;
}

.App {
  text-align: center;
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 350px;
  height: 350px;
  margin: auto;
}

.tile {
  background-color: #886437;
  border-radius: 15px;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  color:#c8e6c9;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.tile.green {
  background-color: rgb(53, 170, 53); /* Green background for clicked tiles */
  color: white; /* White text color when the tile is green */
}

.tile:hover {
  background-color: #f1e469;
  transform: scale(1.05);
}

p {
 font-size: 20px;
 font-weight: bold;
}

button {
  border-color: #e1e418;
  border-radius: 50px;
  background-color: #316749;
  color: rgb(196, 223, 170);
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin:50px;
}

